* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "aften_screen";
  src: url("./aften_screen.woff?#iefix");
}

html,
body {
  background-color: #141518;
  font-family: "aften_screen";
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  align-items: center;
  color: #fff;
  pointer-events: auto;
  font-size: 1.1rem;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 4.5vh;
}

nav div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.bottom {
  position: absolute;
  bottom: 4.5vh;
  left: 4.5vh;
}

.progress-bar {
  background: hsla(0, 0%, 100%, 0.2);
  bottom: 4.5vh;
  height: 1px;
  overflow: hidden;
  position: absolute;
  right: 4.5vh;
  width: 14vw;
}

.progress-bar .progress {
  background: #fff;
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  width: 100%;
}

.circle {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.circle .inner {
  position: absolute;
  left: 0;
  top: 0;
}

.ring {
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loader {
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

#loader p {
  color: white;
  font-size: large;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.fade {
  opacity: 0;
  animation: fadeIn 3s 2s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
